<header>
    <div class="nav-bar">
        <div class="title">
            <h1>Escape Nest</h1>
        </div>

        <div class="user-links">
            @if (!isLoggedIn()) {
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
            }@else {
            <a routerLink="/profile">Profile</a>
            <a (click)="logout()">Logout</a>
            }
        </div>
    </div>

    <nav class="main-links">
        <a routerLink="/home">Home</a>
        @if (isLoggedIn()) {
        <a routerLink="/posts">Publications</a>
        <a routerLink="/posts/search">Search</a>
        <a routerLink="/posts/add-post">Share</a>
        }
        <a routerLink="/about">About</a>
    </nav>
</header>
