<header>
    <div class="nav-bar">
        <div class="title">
            <h1>Escape Nest</h1>
        </div>

        <div class="user-links">
            <ng-container *ngIf="(isLoggedIn$ | async); else guestLinks">
                <a routerLink="/profile">Profile</a>
                <a (click)="logout()">Logout</a>
            </ng-container>
            <ng-template #guestLinks>
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            </ng-template>
        </div>
    </div>

    <nav class="main-links">
        <a routerLink="/home">Home</a>
        <a routerLink="/posts">Publications</a>
        <ng-container *ngIf="(isLoggedIn$ | async)">
            <a routerLink="/posts/search">Search</a>
            <a routerLink="/posts/add-post">Share</a>
        </ng-container>
        <a routerLink="/about">About</a>
    </nav>
</header>
