<header>
    <div class="nav-bar">
        <div class="title">
            <h1>Escape Nest</h1>
        </div>

        <div class="user-links">
            <ng-container *ngIf="(isLoggedIn$ | async); else guestLinks">
                <a routerLink="/profile" routerLinkActive="active-link">Profile</a>
                <a (click)="logout()">Logout</a>
            </ng-container>
            <ng-template #guestLinks>
                <a routerLink="/login" routerLinkActive="active-link">Login</a>
                <a routerLink="/register" routerLinkActive="active-link">Register</a>
            </ng-template>
        </div>
    </div>

    <nav class="main-links">
        <a routerLink="/home" routerLinkActive="active-link" >Home</a>
        <a routerLink="/posts" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Publications</a>
        <ng-container *ngIf="(isLoggedIn$ | async)">
            <a routerLink="/posts/search" routerLinkActive="active-link">Search</a>
            <a routerLink="/posts/add-post" routerLinkActive="active-link">Share</a>
        </ng-container>
        <a routerLink="/about" routerLinkActive="active-link">About Us</a>
    </nav>
</header>
