header {
    width: 100%;
}

.nav-bar {
    width: 97.9%;
    background-color: #DFEBF4;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 0;
}

.title {
    color: #134379;
}

.user-links {
    display: flex;
    gap: 20px;
}

.user-links a {
    font-size: 30px;
    color: #134379;
    text-decoration: none;
}

.user-links a:hover {
    cursor: pointer;
    opacity: 0.8;
}

.user-links a:active {
    cursor: pointer;
    opacity: 0.4;
}

.main-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #134379AA;
    padding: 10px 0;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main-links a {
    font-size: 30px;
    color: #DFEBF4;
    text-decoration: none;
}

.main-links a:hover {
    cursor: pointer;
    opacity: 0.8;
}

.main-links a:active {
    cursor: pointer;
    opacity: 0.4;
}

.main-links a.active-link {
    padding: 0 10px;
    border-radius: 20px;
    background-color: #DFEBF4;
    color: #134379;
}

.user-links a.active-link {
    padding: 0 10px;
    border-radius: 20px;
    background-color: #134379;
    color: #DFEBF4;
}

@media (max-width: 768px) {

    .title h1 {
        font-size: 24px;
        text-align: center;
    }

    .user-links {
        padding-right: 24px;
    }

    .main-links a,
    .user-links a {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .title h1 {
        font-size: 24px;
    }

    .user-links a,
    .main-links a {
        font-size: 14px;
    }
}