<div class="main-container">
    @if (isLoading()) {
        <app-loader />
    }
    <input
        type="text"
        class="search-input"
        placeholder="Search by location..."
        [(ngModel)]="searchTerm"
        (input)="filterPosts()"
    />

    <h1>Feel free to browse through all publications</h1>

    <p *ngIf="filteredPosts().length === 0" class="no-posts-message">
        No posts found for your search criteria.
    </p>
    
    <main [ngClass]="{ 'no-posts': filteredPosts.length === 0 }">
        <div *ngFor="let post of filteredPosts();" class="post-container">
            <div class="image">
                <img [src]="post.place.imageUrl" alt="{{ post.place.location }}" />
            </div>
            <div class="post-content">
                <h3>{{ post.place.location | slice: 20 }}</h3>
                <div routerLink="/visit-profile/{{post.owner._id}}" class="profile">
                    <img src="{{ post.owner.avatar }}" alt="{{ post.owner.username }}"> <strong>{{ post.owner.username }}</strong>
                </div>
                <p>Posted on: <strong>{{ formatDate(post.createdAt) }}</strong></p>
            </div>
            <div class="details-button">
                <button routerLink="/posts/{{ post._id }}">Details</button>
            </div>
        </div>
    </main>

</div>
