.loading-overlay {
    margin-top: 400px;
    margin-bottom: 400px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    pointer-events: none;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid #DFEBF4;
    border-top: 6px solid #134379;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}