.post-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    position: relative;
    height: auto;
    margin: 50px 0;
    gap: 30px;
    overflow: auto;
}

.post-details-container,
.comments-container {
    width: 100%;
    max-width: 600px;
    min-height: 650px;
    max-height: 650px;
    margin-top: 40px;
    padding: 50px;
    border: 2px solid #134379;
    border-radius: 20px;
    background-color: #DFEBF4AA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post-details-container:hover,
.comments-container:hover {
    transform: scale(1.05);
}

.comments-list {
    width: 100%;
    border: 1px solid #134379;
    background-color: #DFEBF4FF;
    border-radius: 20px;
    height: 520px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.comment {
    display: flex;
    gap: 20px;
    padding: 10px;
    border-bottom: 1px solid #134379;
    margin-bottom: 10px;
    word-wrap: break-word;
    word-break: break-word;
}

.comment p {
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
}

.comment img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.add-comment {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.add-comment textarea {
    width: 80%;
    height: 100px;
    border-radius: 10px;
    border: 1px solid #134379;
    padding: 10px;
}

.add-comment button {
    width: 15%;
    background-color: #134379;
    height: 100%;
    color: #DFEBF4;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.add-comment button:hover {
    opacity: 0.8;
}

.add-comment button:active {
    opacity: 0.4;
}

.image {
    width: 100%;
    min-width: 600px;
    max-width: 600px;
    height: 200px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.post-title {
    text-align: center;
    color: #134379;
    font-size: 40px;
    margin-bottom: 20px;
}

.post-content p {
    font-size: 16px;
    margin: 0;
    white-space: normal;
    word-break: break-word;
    overflow: visible;
}

.description {
    margin-top: 20px;
}

button {
    background-color: #134379;
    color: #DFEBF4;
    border-radius: 20px;
    width: 120px;
    height: 45px;
    font-family: bold;
    font-size: 20px;
    margin: 0 10px;
    margin-top: 30px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.4;
}

.details-button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.profile {
    max-width: 400px;
    max-height: 130px;
}

.profile:hover {
    cursor: pointer;
}

.profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .post-details-wrapper {
        flex-direction: column;
        gap: 20px;
        padding: 0 10px;
        margin: 20px auto;
    }

    .post-details-container,
    .comments-container {
        width: 100%;
        max-width: 90%;
        padding: 20px;
    }

    .post-title {
        font-size: 28px;
    }

    .comment {
        gap: 10px;
    }

    .comment p {
        font-size: 14px;
    }

    .add-comment textarea {
        height: 80px;
        font-size: 14px;
    }

    .add-comment button {
        width: 25%;
        font-size: 14px;
        padding: 8px;
    }

    .image {
        min-width: 100%;
        max-width: 100%;
    }

    .add-comment button {
        height: 50px;
    }
}

@media (max-width: 480px) {

    .post-details-container,
    .comments-container {
        width: 100%;
        max-width: 86%;
        padding: 20px;
    }

    .post-title {
        font-size: 24px;
    }

    .comment p {
        font-size: 12px;
    }

    .add-comment textarea {
        width: 70%;
    }

    .add-comment button {
        width: 30%;
    }

    .post-details-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
        overflow-y: auto;
    }

    .add-comment button {
        height: 50px;
    }
}
