<div class="post-details-wrapper">
    @if (isLoading) {
    <app-loader />
    }@else {
    <div class="post-details-container">
        @if (post) {
        <h1 class="post-title">{{ post.place.location }}</h1>
        <main class="post-details-main">
            <div class="post-container">
                <div class="image">
                    <img [src]="post.place.imageUrl" alt="{{ post.place.location }}" />
                </div>
                <div class="post-content">
                    <div routerLink="/visit-profile/{{post.owner._id}}" class="profile"><img src="{{ post.owner.avatar }}" alt="{{ post.owner.username }}">
                        <p>By: <strong>{{ post.owner.username }}</strong></p>
                    </div>
                    <p>Posted on: <strong>{{ formatDate(post.createdAt) }}</strong></p>
                    <p>Where to find: <strong>{{ post.place.region }}</strong></p>
                    <div class="description">
                        <p>{{ post.description }}</p>
                    </div>
                </div>
                <div class="details-button">
                    @if (hasUser) {
                    @if (isOwner) {
                    <button routerLink="/posts/{{post._id}}/edit">Edit</button>
                    <button (click)="deletePost()">Delete</button>
                    }@else {
                    @if (user) {
                        <button
                        class="reaction-button like-button"
                        [class.active]="post.likes.includes(user._id)"
                        (click)="toggleReaction('like')"
                      >
                        <span class="icon">👍</span> Like <span class="count">({{ post.likes.length }})</span>
                      </button>
                      <button
                        class="reaction-button dislike-button"
                        [class.active]="post.dislikes.includes(user._id)"
                        (click)="toggleReaction('dislike')"
                      >
                        <span class="icon">👎</span> Dislike <span class="count">({{ post.dislikes.length }})</span>
                      </button>
                    }
                    }
                    }
                </div>
            </div>
        </main>
        }
    </div>

    <div class="comments-container">
        <h1 class="post-title">Comments</h1>
        <div class="comments-list">
            @for (comment of post?.comments; track $index) {
            <div class="comment">
                <img src="{{ comment.avatar }}" alt="{{ comment.username }}">
                <p><strong>{{ comment.username }}:</strong> {{ comment.text }}</p>
            </div>
            }
        </div>
        @if (hasUser || isOwner) {
            <div class="add-comment">
                <!-- <textarea placeholder="Add a comment..."></textarea>
                <button >Post Comment</button> -->
                <textarea [(ngModel)]="newComment" placeholder="Add a comment..."></textarea>
                <button (click)="addComment()" [disabled]="!newComment || isPosting"
                    [style]="{ backgroundColor: (!newComment || isPosting) ? 'grey' : '#134379'}">
                    {{ isPosting ? 'Posting...' : 'Post Comment' }}</button>
            </div>
        }
    </div>
    }
</div>