<div class="form-container">
    <form class="form" #loginForm="ngForm" (ngSubmit)="login()">
        <h2>Login</h2>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" [(ngModel)]="user.email" #email="ngModel" required>
        @if (email.invalid && email.touched) {
            <div class="error" [ngClass]="{ 'active': email.invalid }">
                @if (email.errors?.['required']) {
                    <small>Email is required!</small>
                }
            </div>
        }

        <label for="password">Password</label>
        <input type="text" name="password" id="password" [(ngModel)]="user.password" #password="ngModel" required>
        @if (password.invalid && password.touched) {
            <div class="error" [ngClass]="{ 'active': password.invalid }">
                @if (password.errors?.['required']) {
                    <small>Password is required!</small>
                }
            </div>
        }

        <button type="submit" [disabled]="loginForm.invalid"
        [style]="{ backgroundColor: loginForm.invalid ? 'grey' : '#134379'}">Submit</button>
        <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </form>
</div>
